.mysec {
    width: 100% !important;
    height: 100vh !important;
}
.mycolor {
    color: #9a616d !important;
}

.my-submitbtn {
    background-color: #9a616d !important;
    width: 450px !important;
}
